<div class="main user-new teal">
  <div class="container">
    <div id="create-account-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <div class="form-body">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/logo.png" alt="" class="">
          </div>
        </div>

          <div class="form-error">
            <%= @error_message %>
          </div>
			    <%= render 'form', question: @question %>
      </div>
    </div>
  </div>
  </div>
</div>
