.questions-index {
  margin-top: 64px;

  .question-first-column {
    float: left;
    width: 14px;
  }

  .question-second-column {
    float: left;
    margin-left: 16px;
  }

  .question-third-column {
    float: left;
    margin-left: 128px;
  }

  .questions-index-item {
    padding: 16px 16px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    color: black;
  }

  .question-header {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }

  .question-left {
    float: left;
    width: 10%;
  }

  .question-right {
    float: left;
    width: 90%;
    padding-left: 25px;
    text-align: left;
  }

  .massage {
    margin-top: 64px;
    text-align: center;

    a {
      font-size: 40px;
      text-decoration: underline;
      color: #00bfa5;
      &:hover {
        opacity: 0.6;
      }

    }
  }
}
